

/* Media Query */

h1{
    color: hotpink;
}

@media screen and (max-width: 500px){
    h1{
        color: forestgreen;
    }
}

/* min-width */
p{
    background-color: darkorange;
    color: darkblue;
}

@media screen and (min-width: 800px){
    p{
        background-color: slateblue;
        color: saddlebrown;
    }
}

/* Landscape ocultado */
h2{
    display: none;
}

@media screen and (orientation: landscape){
    h2{
        display: block;
    }
}